

<div class="main-about  ">
    <div class="container  justify-content-center">
        <div class="cont-inicio">
            <h3 class="mb-4">Sobre mi</h3>
    
            <div class="row gap-4">
                <div class="col-md-6">
                    <p>
                        Hola, mi nombre es <strong class="text-primary">Denis Emanuel Lazarian</strong> y soy un desarrollador web full stack junior. Me encanta aprender nuevas tecnologías y mejorar mis habilidades de programación. Actualmente estoy aprendiendo <strong class="text-warning">Angular</strong>  y reforzando mis conocimientos en <strong class="text-warning">PHP</strong>, ademàs del framework <strong class="text-warning"> Codeigniter 4</strong>.
                    </p>
                    <p>
                        Me gusta trabajar en equipo y sobre todo aprender de los demás. Me considero una persona responsable, proactiva y con muchas ganas de aprender.
                    </p>
                    <p>
                        He estado trabajando en proyectos personales para mejorar mis habilidades de programación y aprender nuevas tecnologías. Puedes ver algunos de mis proyectos en la sección de <a >Proyectos</a>. También he estado realizando practicas de formacion DUAL en la empresa EcityClic, donde he aprendido a trabajar en equipo y a desarrollar aplicaciones web en lenguaje <strong class="text-warning">JAVA</strong>.
                    </p>    
    
                </div>
                <div class="col-md-5 ">
                    <p>
                        <span class="fw-semibold text-primary me-3  ">Ubicación:</span> Lleida, Catalunya (España). <br>
                    </p>
                    <p>
                        <span class="fw-semibold text-primary me-3 mt-2">Ocupación actual: </span> Estudiante de Desarrollo de Aplicaciones Web (IES Caparrella). <br>
                    </p>
                    
                    <div class="text-center cont-boton-download">
                        <a href="" class=" download-CV mt-5">Descargar CV</a>

                    </div>
                </div>
            </div>

        </div>


    </div>
</div>