
.main-about{
    background-color: #2d3951;
    color: #fff;
    padding: 20px;
    /* text-align: center; */
}

.cont-inicio{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 30px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #181f2d;
    box-shadow: 0px 0px 5px #41d9ff;
    color:#ccc;

}

.download-CV{
    background-color: #181f2d;
    color: #fff;
    padding: 13px 40px;

    border:1px solid #41d9ff;
    

    border-radius: 28px;
    text-decoration: none;
}
.download-CV:hover{
    background-color: #41d9ff;
    color: #000;
    text-decoration: none;

    transition: all 0.4s ease-in-out;
}

*{
    transition: all 0.2s ease-in-out;
}

.cont-boton-download{
    margin-top: 60px;
}