

<div class="main-about  ">
    <div class="container  justify-content-center">
        <div class="cont-inicio">
            <h3 class="mb-4">Sobre mi</h3>
    
            <div class="row gap-4">
                <div class="col-md-6">
                    <p>
                        Hola, mi nombre es <strong class="text-primary">Denis Emanuel Lazarian</strong> y soy un desarrollador web junior aspirante a programador de perfil full stack. Me encanta aprender nuevas tecnologías y mejorar mis habilidades de programación. Actualmente, estoy aprendiendo <strong class="text-warning">Angular</strong>  y reforzando mis conocimientos en <strong class="text-warning">PHP</strong>, además del framework <strong class="text-warning"> Codeigniter 4</strong>.
                    </p>
                    <p>
                        Me gusta trabajar en equipo y sobre todo aprender de los demás. Me considero una persona responsable, proactiva y con muchas ganas de aprender.
                    </p>
                    <p>
                        He estado trabajando en proyectos personales para mejorar mis habilidades de programación y aprender nuevas tecnologías. Puedes ver algunos de mis proyectos en la sección de <a role="button" class="text-primary" id='pro-link-item' (click)="selectLink('projects')">Proyectos</a>. También he estado realizando prácticas de formación DUAL en la empresa EcityClic, donde he aprendido a trabajar en equipo y a desarrollar aplicaciones web en lenguaje <strong class="text-warning">JAVA</strong>.
                    </p>    
    
                </div>
                <div class="col-md-5 d-block" >
                    <p>
                        <span class="fw-semibold text-primary me-3  ">Ubicación:</span> Lleida, Catalunya (España). <br>
                    </p>
                    <p>
                        <span class="fw-semibold text-primary me-3 mt-2">Ocupación actual: </span> Estudiante de Desarrollo de Aplicaciones Web (IES Caparrella). <br>
                    </p>
                    
                    <span class="fw-semibold text-primary me-3 mt-2">Idiomas: </span>  
                    <div class=" mt-2 container gap-3 row" >
                        <!-- <div class="row"></div> -->
                        <span class="col-sm-6 col-md-6 col-lg-6 lang-item ">Castellano: Alto</span>
                        <span class="col-sm-5 col-md-5 col-lg-5 lang-item ">Catalàn: Alto</span>
                        <span class="col-sm-6 col-md-6 col-lg-6 lang-item ">Rumano: Nativo</span>
                        <span class="col-sm-5 col-md-5 col-lg-5 lang-item ">Inglés: Medio-bajo</span>
                    </div>
                    
                    
                    <div class="text-center cont-boton-download">
                        <a [href]="pdfURL" class=" download-CV mt-5">Descargar CV</a>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div class="elementoMargin"></div>
</div>